* {
  box-sizing: border-box;
  font-size: 12px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  overflow: hidden
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #007AFF;
}

main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
}

.mapContainer {
  background: #fff;
  height: 96vh;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  background: #fff;
  height: 4vh;
  align-items: center;
}

header>* {
  padding: 10px;
}

.page {
  height: 100vh;
}

h1 {
  padding: 20px;
  margin: 0
}